In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("first.csv")
print(df)

    Number Name  Percentage
0        1   AB          80
1        2   AC          85
2        3   AD          70
3        4   AE          78
4        5   AF          60
5        6   AJ          75
6        7   BA          65
7        8   BB          64
8        9   BD          77
9       10   BE          98
10      11   BF          53
11      12   BG          55
12      13   BH          68
13      14   CD          87
14      15   CC          89
15      16   CM          61
16      17   CJ          67
17      18   MB          90
18      19   MN          95
19      20   MS          91

In [5]:
print(df.tail(2))
print("########### INDEX #################")
print(df.index)
print("########### Columns #################")
print(df.columns)
print("########### Describe #################")
print(df.describe())
print("########### Sort In Ascending #################")
print(df.sort_values(by="Percentage",ascending=False))
print("########### Transpose #################")
print(df.T)

    Number Name  Percentage
18      19   MN          95
19      20   MS          91
########### INDEX #################
RangeIndex(start=0, stop=20, step=1)
########### Columns #################
Index(['Number', 'Name', 'Percentage'], dtype='object')
########### Describe #################
         Number  Percentage
count  20.00000   20.000000
mean   10.50000   75.400000
std     5.91608   13.666709
min     1.00000   53.000000
25%     5.75000   64.750000
50%    10.50000   76.000000
75%    15.25000   87.500000
max    20.00000   98.000000
########### Sort In Ascending #################
    Number Name  Percentage
9       10   BE          98
18      19   MN          95
19      20   MS          91
17      18   MB          90
14      15   CC          89
13      14   CD          87
1        2   AC          85
0        1   AB          80
3        4   AE          78
8        9   BD          77
5        6   AJ          75
2        3   AD          70
12      13   BH          68
16      17   CJ          67
6        7   BA          65
7        8   BB          64
15      16   CM          61
4        5   AF          60
11      12   BG          55
10      11   BF          53
########### Transpose #################
            0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  \
Number       1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16
Name        AB  AC  AD  AE  AF  AJ  BA  BB  BD  BE  BF  BG  BH  CD  CC  CM
Percentage  80  85  70  78  60  75  65  64  77  98  53  55  68  87  89  61

            16  17  18  19
Number      17  18  19  20
Name        CJ  MB  MN  MS
Percentage  67  90  95  91